<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />

  </configSections>
  <log4net>
    <root>
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ManagedColoredConsoleAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\\ProcessControlService.log" />
      <param name="Encoding" value="UTF-8" />
      <!--<param name="File" value="Log\\" />-->
      <appendToFile value="false" />
      <!--<RollingStyle value="Composite"/>-->
      <RollingStyle value="Size" />
      <maxSizeRollBackups value="30" />
      <maximumFileSize value="200MB" />
      <LockingModel type="log4net.Appender.FileAppender+MinimalLock, log4net" />
      <datePattern value="'ProcessControl_'yyyyMMdd'.log'" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] %X{auth} - Line:%L %m%n" />
      </layout>
    </appender>
    <appender name="ManagedColoredConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red" />
        <!--<backColor value="Red, HighIntensity" />-->
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow" />
        <!--<backColor value="Red" />-->
      </mapping>
      <!--<mapping>
        <level value="DEBUG" />
        <backColor value="Green" />
      </mapping>-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%m%n" />
      </layout>
    </appender>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <system.serviceModel>
    <services>
      <service name="ProcessControlService.Services.MachineService" behaviorConfiguration="MyBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:12006" />
          </baseAddresses>
        </host>
        <endpoint address="MachineService" binding="netTcpBinding" contract="ProcessControlService.Contracts.IMachine"></endpoint>
      </service>
      <service name="ProcessControlService.Services.ProcessService" behaviorConfiguration="MyBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:12006" />
          </baseAddresses>
        </host>
        <endpoint address="ProcessService" binding="netTcpBinding" contract="ProcessControlService.Contracts.IProcess"></endpoint>
      </service>
      <service name="ProcessControlService.Services.ResourceService" behaviorConfiguration="MyBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:12006" />
          </baseAddresses>
        </host>
        <endpoint address="ResourceService" binding="netTcpBinding" contract="ProcessControlService.Contracts.IResourceService"></endpoint>
      </service>
      <service name="ProcessControlService.Services.PartnerService" behaviorConfiguration="MyBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:12006" />
          </baseAddresses>
        </host>
        <endpoint address="PartnerService" binding="netTcpBinding" contract="ProcessControlService.Contracts.IPartner"></endpoint>
      </service>
      <service name="ProcessControlService.Services.AdminService" behaviorConfiguration="MyBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:12006" />
          </baseAddresses>
        </host>
        <endpoint address="AdminService" binding="netTcpBinding" contract="ProcessControlService.Contracts.IAdmin"></endpoint>
      </service>

      <service behaviorConfiguration="webservice" name="ProcessControlService.Services.ResourceWebService">
        <endpoint address="http://127.0.0.1:12008/services" binding="basicHttpBinding" bindingConfiguration="MyHttpBinding" name="Host" contract="ProcessControlService.Contracts.IResourceService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="webservice">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:12008/services/metadata" />
        </behavior>
      </serviceBehaviors>

    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <reliableSession ordered="true" inactivityTimeout="00:00:10" />
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <!--bindingConfiguration="MyHttpBinding"-->
        <binding name="MyHttpBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" allowCookies="false" />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FreeSql" publicKeyToken="a33928e5d4a4b39c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.12.3.0" newVersion="3.12.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.6.0" newVersion="1.8.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.113.0" newVersion="1.0.113.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
